  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <img src="./assets/TDRA-logo.svg" class="tdra-logo"/>
        <h3 class="mawthooq-logo">Mawthooq</h3>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button
            type="button" [disabled]="displayLoader"
            class="btn googleBtn"
            (click)="googleAuth()"
          >
            <i class="fab fa-google"></i>
            Log in with Google
          </button>
        </div>
        <div class="formGroup">
          <button type="button" [disabled]="displayLoader"
          class="btn twitterBtn"
          (click)="twitterAuth()">
          <i class="fab fa-twitter"></i>
          Log in with Twitter
            
          </button>
        </div>

        <!-- <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div> -->
        <div *ngIf="displayLoader">
        <ng-lottie [options]="options" height="2rem" (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>
      </div>
      

      <!-- <div class="redirectToLogin">
        <span
          >Don't have an account?<span
            class="redirect"
            routerLink="/register-user"
          >
            Sign Up</span
          ></span
        >
      </div> -->
    </div>
  </div>
